
<p id="notice"><%= notice %></p>

<h2>You are currently standing at:</h2>
<p><%= @location.my_location %></p>

<div id="map-canvas" style="height:300px;width:500px;margin:0;padding:0;"></div>


<h2>The closest buses are... </h2>

<% if @nearby_buses.empty? %>
	<p>... none close by</p>
<% end %>

<% @nearby_buses.each do |bus| %>
	<p>
	<strong>Route: </strong><%= bus["ROUTE"] %> <%= bus["DIRECTION"] %><br>
	<strong>Bus Number:</strong> <%= bus['VEHICLE'] %><br>
	<strong>Next Stop: </strong> <%= bus['TIMEPOINT'] %></br>
	</p>

<% end %>

<script type="text/javascript">
  function initialize() {
    var userLocation = new google.maps.LatLng(<%= @location.latitude %>, <%= @location.longitude %>);
    var userIcon = "<%= image_path 'man_icon.png' %>";

    var mapOptions = {
      center: userLocation,
      zoom: 15
    };

    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

    // Add user location marker to map
    var userMarker = new google.maps.Marker({
      position: userLocation,
      map: map,
      animation: google.maps.Animation.DROP,
      title: 'You are here.',
      icon: userIcon
    });

    // Get all the nearby buses and convert to JSON
    var nearbyBuses = <%= raw @nearby_buses.to_json %>;

    // Looping through the nearby buses to put bus markers on map
    nearbyBuses.forEach(function (element){
      var busLocation = new google.maps.LatLng(element['LATITUDE'], element['LONGITUDE']);

      var busMarker = new google.maps.Marker({
        position: busLocation,
        map: map,
        animation: google.maps.Animation.DROP,
        title: element["ROUTE"] + ' ' + element['DIRECTION']
      });
    });
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

     

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
